*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: sans-serif;
}

body{
    border: 3px solid red;
    background-color: black;
}

img{
    width: 100%;
    height: auto;
}

main{
    width: 80%;
    margin: 0 auto; 
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 40px;
    justify-content: center;
}
.flex-pics{
    flex-basis: calc(100% / 7 - 1em);
    position: relative;
}
.pincopallo{
    position: absolute;
    color: white;
    bottom: 5px;
    left: 0;
    background-color: lightgray;
    font-size: 12px;
    opacity: 0.6;
}

.pos{
    position: absolute;
    right: 0;
    color: white;
    opacity: 0.6;
}

.pos span{
    background-color: lightgray;
}
body .container{
    position: relative;
   
}

footer{
    background-color: #222222;
    display: flex;
    width: 100%;
    justify-content: space-between;
    text-transform: capitalize;
    height: 50px;
}
/* footer div{
  display: flex;
  text-align: center;
  list-style-type: none;
  color: white;
  display: flex;
  gap: 10px;
} */
/* footer div ul li{
display: flex;
justify-content: space-between;

} */
footer div{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

ul{
    list-style-type: none;
    
}
li{
    font-size: 15px;
}
footer  h4{
    color: red;
    background-color: grey;
}

